.map {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;      /* centra horizontalmente */
  justify-content: center;  /* centra verticalmente */
  background-color: #f8f8f8;
}

.grid-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css (o donde definas tus estilos globales de layout) */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-layout-container {
  display: flex;
  flex-direction: row; /* Contenido principal a la izquierda, sidebar a la derecha */
  height: 100vh; /* Ocupar toda la altura de la ventana */
  overflow: hidden; /* Evitar scroll en el contenedor principal si los hijos manejan el suyo */
}

.main-page-content {
  flex-grow: 1; /* Ocupa todo el espacio disponible restante */
  overflow-y: auto; /* Scroll para el contenido principal si es necesario */
  padding: 20px; /* Espaciado interno */
  background-color: #ffffff; /* Fondo del área de contenido principal */
  transition: margin-right 0.35s ease-in-out; /* Si la sidebar empujara con margen */
  /* Como la sidebar cambia su propio ancho y es un item flex,
     flex-grow en main-page-content es suficiente para el ajuste. */
}